<div class="col-md-6 student-container">
  <h2 class="text-center">Edit Student</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly>
    </div>
    <div class="form-group">
      <label for="username">Nombre:</label>
      <input type="text" formControlName="nombre" placeholder="nombre" name="nombre" class="form-control" id="nombre" >
    </div>

    <div class="form-group">
      <label for="firstName">Apellido:</label>
      <input formControlName="apellido" placeholder="Apellido" name="apellido" class="form-control" id="apellido">
    </div>

    <div class="form-group">
      <label for="age">Edad:</label>
      <input type="number" formControlName="edad" placeholder="Edad" name="edad" class="form-control" id="edad">
    </div>

    <div class="form-group">
      <label for="salary">Código de Estudiante:</label>
      <input type="number" formControlName="codigoStudent" placeholder="Codigo de Estudiante" name="codigoStudent" class="form-control" id="codigoStudent">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>