<div class="col-md-6 user-container">
  <h2 class="text-center">Add Student</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Nombre:</label>
      <input type="text" formControlName="nombre" placeholder="nombre" name="nombre" class="form-control" id="nombre">
    </div>

    <div class="form-group">
      <label for="text">Apellido:</label>
      <input type="text" formControlName="apellido" placeholder="apellido" name="apellido" class="form-control" id="apellido">
    </div>

    <div class="form-group">
      <label for="age">Edad:</label>
      <input type="number" formControlName="edad" placeholder="edad" name="edad" class="form-control" id="edad">
    </div>

    <div class="form-group">
      <label for="salary">Código de Estudiante:</label>
      <input type="number" formControlName="codigoStudent" placeholder="Código de Estudiante" name="codigoStudent" class="form-control" id="codigoStudent">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>